body {
    background-color: black;
    color: white;
}

.container {
    margin: 50px auto;

    width: 80%;
}

table {
    margin-top: 25px;
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgb(212, 209, 209);
}

td:first-child {
    border-right: none;
}

img {
    width: 30px;
    height: 30px;
}

input[type="text"] {
    width: 750px;
    margin-right: 10px; 
    margin-left: 35px;
    background-color: black;
    color: rgb(165, 161, 161);
    padding: 12px;
    border: 1px solid #858484;
}

input[type="text"]::placeholder {
    color: white;
}

button {
    font-size: 16px;
    padding: 10px;
    background-color: black;
    color: white;
    border: 1px solid #9f9d9d;
    cursor: pointer;
    margin-right: 10px; 
}